pickleshare==0.7.4
numpy==1.14.3
pytest==3.5.1
pytest-arraydiff==0.2
pytest-astropy==0.3.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.2.1
netCDF4==1.4.1
psycopg2==2.7.6.1
pandas==0.23.4
bitarray==0.8.3
slackclient==1.3.0
PyYAML==3.13
maidenhead==1.2.1
